.General {
    background: linear-gradient(180deg, #0000008c 20%,#0000008c 100%), url("../Imagenes/FONDO.jpg")no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    margin: 10px 0;
}

.Seccion {
    color: white;
    display: flex;
    justify-content: center;
}

.SeccionBotones {
    display: flex;
    justify-content: center;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: orange; /* Green */
        color: white;
    }

.tituloCus {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 2px orange solid;
    border-radius: 15px;
    background: rgba(255, 166, 0, 0.534);
}

    .tituloCus h3 {
        color: white;
        font-size: 150px;
        padding: 5px 0;
        font-weight: 200;
        font-weight: bold;
        -webkit-text-stroke: 2px rgb(75, 50, 4);
    }