.General {
    display: flex;
    flex: 1;
}

.Column1 {
    background: #FFDE63;
    border: 1px solid black;
    font-weight: bold;
    width: 65%;
    height: 600px;
}

.Column2 {
    border: 1px solid black;
    width: 35%;
    justify-content: space-between;
    height: 600px;
    margin-left: 20px;
}

.Platillos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

.General1 {
    background: linear-gradient(180deg, #0000008c 20%,#0000008c 100%), url("../Imagenes/FONDO.jpg")no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    font-weight: bold;
    border-radius: 15px;
    margin: 10px 0;
}

.Datos {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    overflow-y: auto;
    height: auto;
    border: 1px solid black;
    color: white;
    width: 445px;
    max-width: 100%;
}

.Datos1 {
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
    overflow-y: auto;
    color: white;
    width: 370px;
}


.Platillos1 {
    flex-basis: 33.33%;
}
/*----------------------*/

/*---------*/
.TextoSuperior {
    align-self: flex-start;
}

.TextoInferior {
    align-self: flex-end;
}

.Header {
    background: #E58C46;
}
