.divGv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panelGv {
    margin: 0 auto;
    overflow-y: auto;
    height: 300px;
    border: 1px solid black;
    width: 1000px;
    max-width: 100%;
}

.panel {
    margin: 0 auto;
    overflow-y: auto;
    height: 150px;
    border: 1px solid black;
    width: 1000px;
    max-width: 100%;
}
.page-container {

    background: linear-gradient(180deg, #0000008c 20%,#0000008c 100%), url("../Imagenes/FONDO.jpg")no-repeat center center fixed;

    background-size: cover;
    border-radius: 15px;
    margin: 10px 0;
}

h4 {
    color: white;
}