

.ddl {
    margin-left: 10px;
}

h3 {
    font-family: Cambria;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    margin-top: 5px;
    overflow-y: hidden;
    height: auto;
    border: 1px solid white;
    position: relative;
}

.panelExterior {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-right: 30px;
    margin-top: 5px;
    padding: 30px;
    height: 343px;
    overflow-y: hidden;
    border: 1px solid white;
    position: relative;
}

.full-screen-view {
    width: 100%;
}

.panelExterior2 {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    margin-top: 5px;
    padding: 30px;
    width: 1210px;
    border: 1px solid white;
    height: 350px;
    position: relative;
}


.panelInterior {
    position: absolute;
    background-color: rgba(255, 247, 231);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    overflow-y: auto;
    width: 700px;
    height: 250px;
    border: 1px solid #8C4510;
}

.button {
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    width: 100px;
}

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

.label {
    color: white;
    font-weight: bold;
}

.labelDC {
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

.txtbox {
    margin-left: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.rbllabel2 {
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.page-container {
    background: linear-gradient(180deg, #0000008c 20%,#0000008c 100%), url("../Imagenes/FONDO.jpg")no-repeat center center fixed;
    background-size: cover;
    border-radius: 15px;
    margin: 10px 0;
}
