
.passInput{
    border-radius:50px;
}
.navcontainer {
    background: #E3EAEB;
}

.rol{
    width:350px;
    display:flex;
    margin-left:200px;
    margin-right:150px
}
.container{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;

}
.imgLogo {
    border-radius: 15px;
}
btnenviar{
    border-radius:15px;

}

.containerpass {
    background: #F7971E; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:450px;
}
.barracompleta{
    margin:20px;
}
#myInput{
    border-radius:15px;
    border:.5px solid black;
}
.txtCambiarPass{
    color:white;
    text-align:center;
}
.formCambio{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:100px
}
.btnCambiar{
    margin:10px;
}