.Global {
    background: linear-gradient(180deg, #0000008c 20%,#0000008c 100%), url("../Imagenes/FONDO.jpg")no-repeat center center fixed;
    height: 90vh;
    background-size: cover;
    font-weight: bold;
    border-radius: 15px;
    margin: 10px 0;
}

.Global1 {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    font-weight: bold;
    border-radius: 15px;
    margin: 10px 0;
}

.Fondo {
    background: #00000016;
    margin: 60px;
}

.DivRecepcionista {
    position: relative;
    float: right;
}

.divDet1 {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    overflow-y: auto;
    height: auto;
    border: 1px solid black;
    width: 1000px;
    max-width: 100%;
}

/*Texto*/

.Fuente1 {
    font-family: 'Times New Roman';
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 19px;
}
/*Botones*/
.button {
    background: #8AE8FF;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Times New Roman';
}

.button1 {
    background: #F74E18;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Times New Roman';
}

.button2 {
    background: #82E342;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Times New Roman';
}

.button3 {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #FF8C00;
    color: white;
}

.button:active {
    background-color: #FF8C00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
